#myBtn {
   display: none;
   position: fixed;
   bottom: 20px;
   right: 30px;
   z-index: 99;
   border: none;
   outline: none;
   background-color: var(--main-color);
   color: var(--additional-color1);
   cursor: pointer;
   padding: 10px 15px; 
   border-radius: 10px;
   font-size: 1rem;
 }
 
 #myBtn:hover {
   background-color: var(--additional-color2); 
 }
