@import "variables.css";
@import "header.css";
@import "footer.css";
@import "button.css";

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}




body {
	font-family: 'Roboto', sans-serif;
	margin: 0; 
	padding: 0;
}

img{
	width:100%;
}


section{
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem;
	min-height: 100vh
}
