@import "variables.css";
@import "header.css";
@import "footer.css";
@import "button.css";

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0; 
	padding: 0;
}

img{
	width:100%;
}


section{
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem;
	min-height: 80vh;
}

.slideshow{
	max-width: 1200px;
	position:relative;
	margin:auto;
}

.slideshow__container{
	display: none;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}



 .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: grey;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color:(--main-color);
}

.main__paragraph{
	text-align: center;
	font-size: 1.5rem;
}
